@charset "UTF-8";

@import url('https://fonts.googleapis.com/css?family=JetBrain+Mono&display=swap');


body {
	font-family: 'JetBrains Mono Medium';
	font-size: 20px;
	line-height: 200%;
}

.instruction {
	display: flex;
	flex-direction: row;
}

.repetition {
	display: flex;
}

.repetitionCount {
    display: flex;
    align-items: center;

}

.reptitionSymbol {
	margin-left: 0.3em;
	margin-right: 0.3em;
	display: flex;
	align-items: center;
	width: 0.5em;
	border-top: 2px solid #000000;
	border-bottom: 2px solid #000000;
	border-left: 2px solid #000000;
	border-top-left-radius: 0.5em;
	border-bottom-left-radius: 0.5em;
	
}

.repetitionContent {
	
}

.program {
	padding: 0.2em;
	border: solid;
	border-width: thin;
	width: fit-content;
}

.pyramid {
	display: flex;
	flex-direction: column;
	font-weight: thin;
	font-size: 120%;
}

@media print {
	@page {
		size: 100vh 100vw;
		margin: 0cm;
	}
	
	.instruction {
	display: flex;
	flex-direction: row;
	color:red;
}
	
}