@charset "UTF-8";

html {
/*	font-family: 'JetBrainsMonoExtraBoldCDN';*/
	font-family: 'JetBrainsMonoExtraBoldBartneck';
}

.box1 {
	font-family: 'JetBrainsMonoExtraBoldBartneck';
}

.box2 {
	font-family: :'JetBrainsMonoExtraBoldCDN';
}

@font-face {
font-family: 'JetBrainsMonoExtraBoldBartneck';
src: 	url('../../fonts/JetBrainsMono/fonts/webfonts/JetBrainsMono-ExtraBold.woff2') format('woff2'),
/*		url('../../fonts/JetBrainsMono/fonts/ttf/JetBrainsMono-ExtraBold.ttf') format('truetype');*/
		font-weight: 800;
		font-style: normal;
		font-display: swap;
}

@font-face {
font-family: 'JetBrainsMonoExtraBoldCDN';
src: 	url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff2/JetBrainsMono-ExtraBold.woff2') format('woff2'),
		url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff/JetBrainsMono-ExtraBold.woff') format('woff');
		font-weight: 800;
		font-style: normal;
		font-display: swap;
}
