/* styles.css */
.box1 {
    max-width: 11cm;
    height: 2cm; /* You can adjust the height as needed */
    border: 1px solid #000000;
	margin-bottom: 1em;
	font-size: 3.67mm;
}

.box3 {
    width: 105.6mm;
    height: 2cm; /* You can adjust the height as needed */
	padding: 2.2mm;
    border: 1px solid #000000;
	font-size: 3.67mm;
	margin-bottom: 1em;
}

.text {
	background: #F38F91;
	display: inline;
}

.boldy {
	font-family: 'JetBrains Mono ExtraBold';
	font-weight: 800;
}


body {
	font-family: 'JetBrains Mono', monospace;
}


@font-face {
  font-family: "JetBrains Mono ExtraBold";
	/*
	src: url("https://github.com/JetBrains/JetBrainsMono/raw/master/fonts/otf/JetBrainsMono-ExtraBold.otf")
		format("opentype"),
	*/
    url("https://github.com/JetBrains/JetBrainsMono/raw/master/fonts/webfonts/JetBrainsMono-ExtraBold.woff2")
		format("woff2"),
    url("https://github.com/JetBrains/JetBrainsMono/raw/master/fonts/webfonts/JetBrainsMono-ExtraBold.woff2")
		format("woff"),
    url("https://github.com/JetBrains/JetBrainsMono/raw/master/fonts/ttf/JetBrainsMono-ExtraBold.ttf")
		format("truetype");
}

@font-face {
  font-family: "JetBrains Mono Thin";
	src: url("https://github.com/JetBrains/JetBrainsMono/raw/master/fonts/otf/JetBrainsMono-Thin.otf")
		format("opentype"),
    url("https://github.com/JetBrains/JetBrainsMono/raw/master/fonts/webfonts/JetBrainsMono-Thin.woff2")
		format("woff2"),
    url("https://github.com/JetBrains/JetBrainsMono/raw/master/fonts/webfonts/JetBrainsMono-Thin.woff2")
		format("woff"),
    url("https://github.com/JetBrains/JetBrainsMono/raw/master/fonts/ttf/JetBrainsMono-Thin.ttf")
		format("truetype");
}