@charset "UTF-8";

body {
	font-family: 'JetBrains Mono', monospace;
	font-size: 5mm;
	font-weight: 400;
	font-style: normal;
	counter-reset: line;
}

ul {
	line-height: 110%;
	list-style-type: "~>";
}

li {
	font-size: 90%;
	margin: 0.3em;
}

h1 {
	text-transform: capitalize;
	text-align: center;
}

p.authorName {
	text-align: center;
	font-weight: 600;
}

p.authorEmail {
	text-align: center;
	line-height: 80%;
	margin-top: -1em;
}

.intro {
	width: 32em;
}
p.describtion {
	line-height: 120%;
	margin-bottom: 2em;
}

.bottom {
	margin-top: 0.2em;
}

.footnote {
	display: inline-block;
	vertical-align: middle;
	font-size: 70%;
}

.logo {
	display: inline-block;
	vertical-align:middle;
	height: 5%;
	width: 5%;
}

.instruction {
	display: block;
	/*flex-direction: row;*/
	margin-top: 0.2em;
	margin-bottom: 0.2em;
	/*vertical-align: middle;*/
	background-color: beige;
}

/*
.instruction::after {
	display: inline-block;
	counter-increment: line;
	content: counter(line);
	padding-left: 2em;
	width: 1em;
	margin-left: auto;
	text-align: right;
	font-weight: 100;
	color: grey;
}
*/

.repetition {
	display: inline-block;
	vertical-align: middle;
	margin-top: 0.2em;
	background-color: brown;
}

.repRigh {
	display: block;
	/* float: right; */
	background-color: blueviolet;
	/*border-top: 0.13em solid #000000;
	border-bottom: 0.13em solid #000000;
	*/
	border-left: 0.13em solid #000000;
	border-top-left-radius: 0.5em;
	border-bottom-left-radius: 0.5em;
	background-color: antiquewhite;
}
.repetitionCount {
    display: block;
	/* float: left; */
	height: 100%;
    /*align-items: center;*/
	background-color: aliceblue;
}

.reptitionSymbol {
	margin-left: 0.3em;
	margin-right: 0.3em;
	display: block;
	/*  float: left; */
	/*align-items: center;*/
	width: 0.5em;
	border-top: 0.13em solid #000000;
	border-bottom: 0.13em solid #000000;
	border-left: 0.13em solid #000000;
	border-top-left-radius: 0.5em;
	border-bottom-left-radius: 0.5em;
	background-color: antiquewhite;
}

.repetitionContent {
	display: block;
	/* float: right; */
	/*float: right;*/
	/*width: 100%;*/
	background-color: aqua;
}

.firstSegmentName {
	display: block;
	text-align: center;
	border-bottom: solid 1px black;
	font-weight: 600;
}

.segmentName {
	display: block;
	text-align: center;
	border-bottom: solid 1px black;
	padding-top: 0.9em;
	font-weight: 600;
}

.program {
	padding: 1em;
	border: solid;
	border-width: thin;
	width: fit-content;
	/*min-width: 30em;*/
}

.pyramid {
	display: flex;
	flex-direction: column;
	font-size: 120%;
}



@media print {
	@page {
		size: A4;
		margin: 0cm;
	}
	/* 
	.instruction {
	display: flex;
	flex-direction: row;
	color:red;
	 */
}
	
